* {color:cornsilk;}
body {
    margin: 0;
    background-color: black;
    
}
a {
    text-decoration: none;
    color:white;
    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #080616;
    padding:8px 12px;
}
.navbar_menu {
    display: flex;
    list-style: none;
    padding-left: 0;
}