* {color:cornsilk;}
body {
    margin: 0;

    background-color: black;
    
}
a {
    text-decoration: none;

    
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items:center;
    background-color: #080616;
}